.vendors-page{
    padding-top: 30px;
    background-color: #f9f9f9;
}



.vendors-filters{
    padding: 40px 0px;
    background-color: #F0CA4D;

}


.vendors-list{
    margin: 60px 0px;
}

.vendor{
    background-color: rgba(0, 0, 0, 0.03);
    padding: 10px;
    margin-bottom: 20px;
}

.vendor-data-title{
    color: #F0CA4D;
}

.vendor-info-statistic span{
    padding: 5px 24px;
    font-weight: 500;
}

.vendor-info-statistic-num {
    padding: 0px 4px !important;
    display: inline-block;
    background: #F0CA4D;
    margin: 0px 6px;
    border-radius: 5px;
}


.vendor-data-contact-list{
    padding-left: 22px;
    list-style: none;
    margin-top: 15px;
}

.vendor-data-contact-list li{
    padding: 5px 0px;
}

.vendor-data-contact-list li span{
    padding-right: 30px;
}

.vendor-data-contact-list li span i{
    color: #F0CA4D;
}

.vendor-details-btn{
    background: #F0CA4D;
    margin-top: -17px;
}


.vendor-page-navigation  .page-link{
    color: black !important;

}